.conteudo {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}


.filtros form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 2rem;
}

.filtros input,
.filtros select,
.filtros button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.filtros button {
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.filtros button:hover {
  background-color: #fff;
  border: #000 1px solid;
  color: #000;
}

/* Cards de vagas */
.lista-vagas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.vaga-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.vaga-card h3 {
  margin-top: 0;
}

.vaga-card button {
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.vaga-card button:hover {
  background-color: #fff;
  border: #000 1px solid;
  color: #000;
}

.imagem-topo {
  text-align: center;
  margin-bottom: 1rem;
}

.imagem-topo img {
  width: 100%;         
  max-width: 900px;    
  height: auto;        
  max-height: 200px;   
  object-fit: cover;   
  display: block;
  margin: 0 auto 1rem auto;
}


/* Telas menores que 600px */
@media (max-width: 600px) {
  .filtros form {
    flex-direction: column;
    align-items: stretch;
  }

  .filtros input,
  .filtros select,
  .filtros button {
    width: 100%;
  }
}

.vaga-card-catho {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.vaga-card-catho:hover {
  transform: scale(1.01);
}

.tag {
  color: #000000;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.titulo {
  color: #000000;
  margin: 6px 0;
  font-size: 20px;
  font-weight: 700;
}

.empresa {
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  font-size: 15px;
}

.info {
  font-size: 14px;
  color: #555;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 8px;
}

.descricao {
  color: #444;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
}

.btn-leia-mais {
  background: none;
  border: none;
  color: #070707;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-leia-mais:hover {
  text-decoration: underline;
}

.btn-candidatar {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-candidatar:hover {
  background-color: #020202;
}
