



h1,
h2 {
    color: #0a9396;
}

p {
    margin-bottom: 20px;
}

.cta {
    background-color: #ADD8E6;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 5px;
}

.cta a {
    text-decoration: none;
    color: #005f73;
    font-weight: bold;
}

.img-1 img{
    height: 40%;
    width: 40%;
    margin-top: 2%;
    
}

.img-2{
    width: 45%;
}
.titulo-na{
    text-align: left;
}





